.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/CA_4_SocialMediaStreaming/v16/.suo
SampleTweets/archive
SampleTweets/*.zip
SampleTweets/*.tar
SampleTweets/SampleTweets.zip
SampleTweets/2021/01/01/00/29.json.bz2
metastore_db/*
.ipynb_checkpoints/*
derby.log

